<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/public/assets/css/burger_style.css" type="text/css" />

	<title>Eat Da Burger!</title>

</head>

<body>

	<img src="public/assets/img/myburger.png" width="500px" id="myburger">

	{{{ body }}}

</body>

</html>